<div
  (click)="openProduct()"
  (keydown.enter)="openProduct()"
  tabindex="0"
  [style.backgroundColor]="'var(--color-surface)'"
  class="rounded-2xl shadow-md hover:shadow-xl transition 
         p-4 w-full flex flex-col items-center text-center cursor-pointer
         transform hover:-translate-y-1 hover:scale-105 duration-300">

  <!-- Imagen -->
  <div class="w-32 h-32 rounded-xl overflow-hidden shadow-md mb-3">
    <img 
      [src]="product.image"
      [alt]="product.name"
      class="w-full h-full object-cover"
    >
  </div>

  <!-- Título -->
  <h3 class="text-lg font-semibold text-text tracking-wide" style="color: var(--color-text)">
    {{ product.name }}
  </h3>

  <!-- Precio -->
  <p class="text-xl font-bold text-text mt-1" style="color: var(--color-text)">
    {{ product.price | currency:'COP':'symbol' }}
  </p>

  <!-- Botón -->
  <button
    (click)="addToCart($event)"
    [style.backgroundColor]="'var(--color-primary)'"
    [style]="{'--color-hover': 'var(--color-tertiary)'}"
    class="mt-4 w-full text-white font-medium px-4 py-2 rounded-xl 
           hover:brightness-90 transition">
    Agregar al carrito
  </button>

</div>
